@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


.imsi-title {

    color: #003c8a;
    font-weight: 500;
    font-size: 60px;
    
    font-family: 'Noto Sans KR', sans-serif;
}

.imsi-category {
    text-align: left;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: -0.1em;
    margin: 0;
    margin-top: 10px;
}

.imsi-text {
    text-align: left;
    font-weight: 300;
    font-size: 1.7em;
    letter-spacing: -0.1em;
    margin-top: 0;
}

.point {
    color: #003c8a;
    font-weight: 900;
    font-size: 25px;
}

body {
    background-image: url("../img/home0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;


}

.Title {
    font-family: 'The Nautigal', cursive;
    font-size: 100px;
    color:white;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.imsi-sub-frame{
    position: relative;
    width: 850px;
    height: 550px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;

    margin: auto;
    
}

.imsi-left {
    position: absolute;
    left: 0;
    width: 550px;
    height: 350px;
    border-right: 1px solid rgb(255, 255, 255, 0.7);
    text-align: center;
    margin-top: 20px;

}

.kkk {
   
    width: 350px;
    margin: 0 auto;
}

p:not(imsi-left):not(imsi-category) {
    margin: 0;
    margin-bottom: 20px;
}

.imsi-right {
    position: absolute;
    right: 0;
    width: 300px;
    height: 740px;
    text-align: center;
    
}

.imsi-button {
    margin: 10px auto;
    color: white;
    border: 1px solid #003c8a;
    background-color: #003c8a;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
    width: 170px;
    transition: 0.2s;
    border-radius: 10px;
    margin-bottom: 30px;
}

a:not(imsi-button) {
    
    text-decoration: none;
}

    .imsi-button:hover {
        border: 1px solid #0a1b7a;
        background-color: #0a1b7a;
    }